.navbar {
    position: relative;
    width: 100%;
    height: 2em;
    margin-top: .5em;
}

.logo {
    display: block;
    float: left;
    margin-left: .5em;
    background: white;
    color: #FFC700;
    padding-top: .1em;
    padding-left: .725em;
    padding-right: .75em;
    border-radius: 5px;
}

.menu {
    display: inline-grid;
    float: right;
}

.menu ul {
    padding: 0;
    margin: 0;
    margin-right: 1.5em;
    list-style-type: none;
}

.menu li {
    display: inline-block;
    color: white;
    padding: .5em;
    padding-top: .1em;
    cursor: pointer;
}

.menu li:hover {
    text-decoration: underline;
}