.poster {
    position: relative;
    width: 95%;
    max-width: 40em;
    margin: 0 auto;
    margin-top: 22em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.125em;
}

.mark {
    height: 18em;
    background: #EFEBEB;
    background-clip: content-box;
}

.mark .text {
    padding: 1em;
    padding-top: 0;
    color: #434343;
}

.mark .text h3 {
    font-weight: lighter;
    border-bottom: solid 1px currentColor;
}